// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Open Sans', sans-serif;
@secondfont: 'Open Sans', sans-serif;
@black: #000000;
@white: #ffffff;

/* --------------------------------------------------------------
CHECKOUT PAGE BOOTSTRAP CORRECTIONS
-------------------------------------------------------------- */
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
    background: white;
    min-height: 78vh;
    padding: 1rem;
    margin-bottom: 0;
}

.flex-viewport {
    float: right;
    max-width: 80%;
}

.woocommerce div.product div.images .flex-control-thumbs {
    float: left;
    max-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-right: 8px;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    margin-bottom: 1rem;
    width: 100%;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    z-index: 1;
}
