// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {
    .the-about .about-slider-item .about-slider-item-wrapper {
        min-height: 70vh;
    }

    .the-about .owl-dots {
        position: absolute;
        top: 79%;
        left: 22%;
    }

    .the-about .about-slider-image:after {
        bottom: 10%;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper {
        top: 35%;
    }

    .the-stories .owl-nav {
        bottom: 10%;
    }

    .the-custom-shoes .custom-shoes-content {
        padding: 4rem 5rem !important;
        font-size: 1rem;
        line-height: 2.2rem;
    }

    .the-custom-shoes .custom-shoes-big-image .custom-shoe-float-image {
        top: 25%;
        left: 74%;
        width: 25vw;
        height: 40vh;
    }

    .the-works .works-image img {
        top: 21vh;
        left: -10vw;
        max-width: 60vw;
    }

    .the-works .works-container .works-container-wrapper ol li::before {
        top: 14px;
        left: -30px;
        font-size: 7.2rem;
        line-height: 3rem;
    }

    .the-works .works-container .works-container-wrapper ol li {
        font-size: 1rem;
        line-height: 1.9rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
    }

    .woocustom-main-container .woocommece-collection-item .collection-item-wrapper .attachment-woocommerce_thumbnail {
        top: 14%;
    }

}

@media (max-width: 1600px) {
    .header-left .navbar-nav .nav-item .nav-link {
        padding: 0.9rem 0.7rem;
        font-size: 0.8rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper {
        min-height: 78vh;
        padding-right: 7rem;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper {
        top: 31%;
        max-width: 55vw;
        padding: 5rem;
    }

    .the-custom-shoes .custom-shoes-content {
        font-size: 1rem;
        line-height: 2rem;
    }

    .the-works .works-container .works-container-wrapper .section-title {
        font-size: 5rem;
    }

    .the-works .works-container .works-container-wrapper ol li {
        font-size: 0.9rem;
        line-height: 1.9rem;
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
    }

    .the-works .works-container .works-container-wrapper ol li::before {
        top: 5px;
        left: -25px;
        font-size: 4.9rem;
        line-height: 3rem;
    }

    .the-works .works-container .btn-appointment {
        padding: 0.7rem 9.5rem;
    }

    .the-works .works-image img {
        top: 13vh;
        left: -10vw;
        max-width: 50vw;
    }

    .woocommerce div.product div.images.woocommerce-product-gallery {
        min-height: 74vh;
    }
}

@media (max-width: 1440px) {
    .the-custom-shoes .custom-shoes-content {
        padding: 2rem 3rem !important;
    }

    .the-custom-shoes .custom-shoes-big-image .custom-shoe-float-image {
        top: 25%;
        left: 80%;
        width: 20vw;
        height: 30vh;
    }

    .the-custom-shoes .custom-shoes-content {
        font-size: 0.9rem;
        line-height: 1.9rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper {
        min-height: 72vh;
        padding: 3rem;
        padding-right: 5rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }

    .img-logo {
        max-width: 250px;
    }

    .header-left .navbar-nav .nav-item .nav-link {
        padding: 1rem 0.7rem;
        font-size: 0.9rem;
    }

    .header-right .btn-header {
        padding: 0.7rem 1.1rem;
    }

    .header-right .btn-lang {
        margin-left: 20px;
    }

    .the-slider .slider-item .slider-item-wrapper {
        min-height: 75vh;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-title h2 {
        font-size: 5rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 35vw;
        font-size: 1.3rem;
    }

    .the-slider {
        min-height: 90vh;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper {
        top: 32%;
        max-width: 55vw;
        padding: 3rem;
    }

    .the-stories .owl-nav {
        bottom: 12%;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper .slider-item-content {
        font-size: 1.1rem;
        line-height: 2.2rem;
    }

    .the-works .works-container .works-container-wrapper .section-title {
        font-size: 4rem;
    }

    .the-works .works-container .works-container-wrapper ol li {
        font-size: 1.1rem;
        line-height: 2rem;
        margin-bottom: 1rem;
        padding-left: 1.5rem;
    }

    .the-works .works-container .works-container-wrapper {
        padding: 2rem 3rem;
    }

    .the-works .works-image {
        min-height: 90vh;
    }

    .the-works .works-image img {
        top: 12vh;
        left: -10vw;
        max-width: 60vw;
    }

    .the-works .works-container .btn-appointment {
        font-size: 1rem;
    }

    .modal-custom .modal-body {
        padding: 2rem 4rem;
        padding-top: 1rem;
    }

    .the-collection .collection-content h2 {
        font-size: 3rem;
    }

    .the-collection .collection-content {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .modal-product .modal-body {
        padding: 2rem 1rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .modal-product .modal-dialog {
        max-width: 85% !important;
    }

    .the-about .owl-nav {
        position: absolute;
        top: 5rem;
        left: 37%;
    }

    .woocustom-main-container .woocommece-collection-item .collection-item-wrapper .attachment-woocommerce_thumbnail {
        top: 15%;
    }
}

@media (max-width: 1366px) {
    .img-logo {
        max-width: 190px !important;
    }

    .container-header {
        min-height: 90px;
    }

    .header-right .btn-header {
        padding: 0.7rem 1.1rem;
        font-size: 0.7rem;
    }

    .header-right .btn-lang .btn:first-child {
        padding: 0.6rem .5rem;
        font-size: 0.8rem;
    }

    .header-right .btn-lang .btn:nth-child(2) {
        padding: 0.5rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 33vw;
        font-size: 1.2rem;
        line-height: 1.9rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-title h2 {
        font-size: 5rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-title:before {
        height: 40px;
    }

    .the-about .about-slider-item .about-slider-item-wrapper {
        min-height: unset;
        padding: 3rem;
        padding-right: 5rem;
    }

    .the-about .about-slider-image:after {
        bottom: 7%;
    }

    .the-stories .stories-slider-item h2 {
        right: 11%;
        font-size: 4rem;
    }

    .modal-custom .modal-body h2 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    .contact-form-item .custom-form-control {
        font-size: 1.1rem;
        padding: 0.8rem 1.2rem !important;
    }

    .contact-form-container {
        padding: 1rem 0;
    }

    .contact-form-submit .btn-submit {
        padding: 0.8rem;
        font-size: 1.1rem;
    }

    .the-collection .collection-content h2 {
        font-size: 2.5rem;
    }

    .the-works .works-image img {
        top: 6vh;
        left: -5vw;
        max-width: 60vw;
    }

    .single-product .custom-breadcrumb-container {
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .single-product .custom-breadcrumb-container ul li a:after {
        top: -10px;
    }

    .img-logo {
        max-width: 250px !important;
    }

    .single-product .product_title {
        font-size: 5rem;
    }

    .woocommerce div.product div.images.woocommerce-product-gallery {
        min-height: 69vh;
        margin-bottom: 0;
    }

}

@media (max-width: 1280px) {
    .the-slider .slider-item .slider-item-wrapper {
        min-height: 75vh;
        padding: 3rem 4rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 35vw;
        font-size: 1.2rem;
        line-height: 1.9rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content {
        font-size: 1rem;
        line-height: 2rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content strong {
        font-size: 1.2rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper {
        min-height: 73vh;
        padding: 2rem;
        padding-right: 3rem;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper {
        top: 30%;
        max-width: 56vw;
        padding: 2rem;
    }

    .the-custom-shoes .custom-shoes-content .slider-item-title h3 {
        font-size: 4rem;
    }

    .the-custom-shoes .custom-shoes-content {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .the-works .works-container .works-container-wrapper .section-title {
        font-size: 3rem;
    }

    .the-works .works-container .works-container-wrapper ol li {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }

    .modal-product .modal-body h2 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .the-about .owl-nav {
        position: absolute;
        top: 3.5rem;
        left: 38%;
    }

    .footer-item {
        padding: 2rem;
        padding-bottom: 1rem;
    }

    .the-works .works-image img {
        top: 9vh;
        left: -7vw;
        max-width: 60vw;
    }

    .single-product:before {
        height: 99vh;
    }

    .woocommerce div.product div.images.woocommerce-product-gallery {
        min-height: 69vh;
    }
}

@media (max-width: 1170px) {
    .header-left .navbar-nav .nav-item .nav-link {
        padding: 1rem 0.5rem;
        font-size: 0.8rem;
    }

    .the-custom-shoes .custom-shoes-content {
        padding: 1rem 2rem !important;
    }

    .the-custom-shoes .custom-shoes-content {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .img-logo {
        max-width: 180px;
    }

    .the-slider .slider-item .slider-item-wrapper {
        min-height: 70vh;
        padding: 3rem 3rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-title h2 {
        font-size: 4rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 32vw;
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    .the-about .owl-nav {
        top: 2.5rem;
        left: 36%;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-title h2 {
        font-size: 3.5rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-title:before {
        height: 25px;
        top: 25px;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content strong {
        font-weight: 500;
        font-size: 1rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .the-about .about-slider-item .about-slider-item-wrapper {
        min-height: unset;
        padding: 2rem;
        padding-right: 3rem;
    }

    .the-about .owl-dots {
        top: 73%;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper .slider-item-content {
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper .slider-item-title h3 {
        font-size: 1.3rem;
    }

    .the-works .works-container .works-container-wrapper {
        padding: 1rem 1rem;
    }

    .the-works .works-container .works-container-wrapper ol li {
        font-size: 1rem;
        line-height: 1.7rem;
        margin-bottom: 1.6rem;
    }

    .modal-product .modal-body {
        padding: 2rem 1rem;
        padding-top: 0;
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

    .the-collection .collection-slider-content .owl-next {
        position: unset;
        top: 45%;
        right: -6%;
    }

    .the-collection .collection-slider-content .owl-prev {
        position: unset;
        top: 45%;
        right: -6%;
    }

    .the-custom-shoes .owl-nav {
        top: 30px;
        right: 15px;
    }

    .the-slider:before {
        width: 11vw;
        height: 105vh;
    }

    .navbar-brand {
        margin-right: 0rem;
        margin-left: .5rem;
    }

    .the-slider {
        padding-bottom: 4rem;
    }

    .the-about .about-slider-item .slider-item-subtitle h3 {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .thanks-main-content h1 {
        font-size: 1.7rem;
    }

    .single-product .custom-breadcrumb-container {
        font-size: 0.9rem;
    }

    .single-product .custom-breadcrumb-container ul li a {
        padding-right: 1.5rem;
    }

    .single-product .custom-breadcrumb-container ul li a:after {
        top: -8px;
        right: 8px;
    }

    .single-product .entry-summary {
        font-size: 1rem;
        line-height: 2.1rem;
    }

    .img-logo {
        max-width: 230px !important;
    }


    .woocommerce div.product div.images.woocommerce-product-gallery {
        min-height: 62vh;
    }

    .single-product:before {
        height: 95vh;
    }
}

@media (max-width: 1024px) {
    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .the-custom-shoes .custom-shoes-big-image .custom-shoe-float-image {
        top: 20%;
        left: 82%;
        width: 18vw;
        height: 24vh;
    }

    .the-custom-shoes .custom-shoes-big-image .custom-shoe-float-image {
        top: 20%;
        left: 82%;
        width: 18vw;
        height: 24vh;
    }

    .the-custom-shoes .custom-shoes-content .slider-item-title h3 {
        font-size: 3rem;
    }

    .header-right .btn-header {
        padding: 0.7rem 0.7rem;
        font-size: 0.7rem;
    }

    .header-left .navbar-nav .nav-item .nav-link {
        padding: 1rem 0.5rem;
        font-size: 0.7rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-title h2 {
        font-size: 3.5rem;
    }

    .img-logo {
        max-width: 150px;
    }

    .the-slider {
        min-height: 83vh;
    }

    .the-about .about-slider-item .about-slider-item-wrapper {
        min-height: 60vh;
        max-width: 55vw;
        padding: 2rem;
        padding-right: 2rem;
    }

    .the-about .owl-dots {
        top: 78%;
    }

    .the-stories .stories-slider-item h2 {
        right: 8%;
        font-size: 4rem;
        top: 5%;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper .slider-item-content {
        font-size: 0.9rem;
        line-height: 1.7rem;
    }

    .the-stories .owl-nav {
        bottom: 10%;
        right: 50px;
    }

    .the-works .works-image img {
        top: 17vh;
        left: 0vw;
        max-width: 60vw;
    }

    .the-works .works-container .btn-appointment {
        padding: 0.7rem 7.5rem;
        font-size: 0.9rem;
    }

    .the-slider:before {
        height: 100vh;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content .alignnone {
        display: inline-block !important;
        margin-right: 10px;
    }


}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 50vw;
    }

    .the-slider .slider-content .owl-dots {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        top: unset;
        right: 43%;
        bottom: 14px;
    }

    .mobile-about-slider-image {
        text-align: center;
        width: 100%;
        max-height: 600px;
        overflow: hidden;
    }

    .mobile-about-slider-image img {
        width: 100%;
    }

    .the-header {
        padding: 1rem;
        background: white;
        z-index: 9;
    }

    .the-about .about-slider-item .slider-item-subtitle h3 {
        font-size: 1.1rem;
    }

    .the-slider:before {
        display: none;
    }

    .the-about .owl-nav {
        top: 64.5%;
        left: 42.5%;
    }

    .the-slider:after {
        display: none;
    }

    .the-about .about-slider-item .slider-item-title {
        position: relative;
        width: 100%;
    }

    .the-about .about-slider-item .slider-item-subtitle {
        margin-top: -.5rem;
        width: 100%;
        text-align: center;
    }

    .the-about .about-slider-item .slider-item-title:before {
        width: 50%;
        left: 25%;
    }

    .slider-container {
        padding: 0;
    }

    .img-logo {
        max-width: 230px;
    }

    .the-slider .slider-item .slider-item-wrapper {
        padding: 1rem 2rem;
        min-height: 48vh;
    }

    .the-slider {
        min-height: unset;
    }

    .the-about .owl-dots {
        position: unset;
        top: unset;
        margin-bottom: 2rem;
        left: unset;
    }

    .the-about .about-slider-item .about-slider-item-wrapper {
        background: white;
        min-height: unset;
        max-width: 100%;
        padding: 2rem;
        padding-right: 2rem;
        padding-bottom: 3rem;
        position: unset;
        width: 100%;
        display: block;
        min-width: 100%;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content {
        font-size: 0.9rem;
        line-height: 1.8rem;
        margin-top: 3rem;
        max-height: 315px;
        overflow: auto;
    }

    .the-about .about-slider-item .slider-item-title h2 {
        font-size: 6rem;
        z-index: 3;
        text-align: center;
    }

    .the-stories .stories-slider-item h2 {
        right: 1.5rem;
        font-size: 4rem;
        top: .5rem;
    }

    .the-stories .owl-nav {
        bottom: -10%;
        right: 0.5rem;
    }

    .the-stories .owl-nav {
        bottom: -10%;
        right: 0.5rem;
    }

    .the-collection .collection-slider-content .owl-prev {
        position: unset;
        top: unset;
        left: unset;
        margin-top: 1rem;
    }

    .the-collection .collection-slider-content .owl-next {
        position: unset;
        top: unset;
        right: unset;
        margin-top: 1rem;
    }

    .the-collection {
        padding: 0 1rem;
        padding-bottom: 0;
    }

    .the-collection .collection-content h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .the-custom-shoes .custom-shoes-content {
        font-size: 0.9rem;
        line-height: 1.9rem;
        padding: 2rem 1rem !important;
    }

    .custom-shoe-float-image img {
        display: block !important;
        width: auto !important;
        margin: 0 auto;
        max-height: 300px;
    }

    .the-collection .collection-slider-content {
        padding: 4rem 1rem;
    }

    .the-custom-shoes .owl-nav {
        position: absolute;
        top: 43.5%;
        bottom: 1px;
        right: 1rem;
    }

    .the-custom-shoes .section-title {
        padding: 1rem 3rem;
    }

    .the-works .works-image img {
        top: unset;
        left: unset;
        max-width: 100%;
        padding: 2rem;
        position: unset;
        margin: 0 auto;
        display: block;
    }

    .the-works .works-image {
        min-height: unset;
    }

    .the-works .works-container .works-container-wrapper .section-title {
        font-size: 5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .the-works .works-container .works-container-wrapper ol li {
        font-size: 1rem;
        line-height: 2rem;
    }

    .the-works .works-container .btn-appointment {
        padding: 0.9rem 7.5rem;
        font-size: 1.1rem;
        margin: 3rem auto;
    }

    .modal-product .modal-body .btn-product-modal {
        margin-top: 2rem;
        max-width: 100%;
        font-size: 1rem;
    }

    .modal-product .modal-body img {
        max-width: 450px;
        margin: 0 auto;
    }

    .the-collection .collection-title h2:before {
        height: 35px;
        width: 200px;
        top: -5px;
        left: 15%;
    }

    .thanks-brand img {
        margin: 0 auto;
        display: block;
    }

    .thanks-main-container .thanks-main-content {
        text-align: center;
    }

    .thanks-main-container {
        padding: 1rem 1rem;
        padding-bottom: 1rem;
    }

    .thanks-image img {
        max-width: 90%;
        margin: 1rem auto;
        display: block;
    }

    .single-product {
        &:before {
            display: none;
        }

        &:after {
            display: none;
        }
    }

    .single-product .entry-summary {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .single-product .custom-breadcrumb-container {
        font-size: 1rem;
    }

    .single-product .custom-breadcrumb-container ul li a:after {
        top: -4px;
        right: 8px;
    }

    .single-product .custom-social-share a {
        height: 40px;
        padding-top: 0.4rem;
    }

    .woocommerce div.product div.images.woocommerce-product-gallery {
        min-height: unset;
        margin-bottom: 1rem;
    }

    .woocommerce div.product div.images .flex-control-thumbs {
        float: none;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
        padding-right: 0;
    }

    .woocommerce div.product div.images .flex-control-thumbs li {
        margin-bottom: 0;
        margin-right: 5px;
        width: 100%;
    }

    .flex-viewport {
        float: none;
        max-width: 100%;
    }

}

@media (max-width: 800px) {
    .the-slider .slider-item .slider-item-wrapper {
        padding: 1rem 2rem;
        min-height: 40vh;
    }

    .the-slider {
        min-height: unset;
        padding: 2.5rem 1rem;
    }


}

@media (max-width: 768px) {
    .the-slider .slider-item .slider-item-wrapper .slider-item-title h2 {
        font-size: 5.3rem;
        line-height: 5.3rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 37vw;
        font-size: 1.1rem;
        line-height: 1.9rem;
    }

    .the-stories .owl-nav {
        bottom: 5%;
        right: 0.5rem;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper .slider-item-content {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .the-collection .collection-title h2 {
        font-size: 4rem;
        text-align: center;
    }

    .the-custom-shoes .section-title {
        font-size: 4rem;
    }

    .the-works .works-container .works-container-wrapper .section-title {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .the-slider .slider-item .slider-item-wrapper {
        padding: 1rem 2rem;
        min-height: 40vh;
        background: rgba(0, 0, 0, 0.45);
    }

    .the-slider .slider-item .slider-item-title {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 100%;
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: center;
    }


    .the-slider .slider-item .slider-item-wrapper img {
        max-width: 260px;
        margin: 0 auto;
    }

    .the-slider {
        margin-bottom: 2rem;
    }

    .the-about .about-slider-item .slider-item-subtitle {
        padding: .5rem 1rem;
    }

    .the-custom-shoes .custom-shoes-content {
        padding: 2rem 1rem !important;
        padding-top: 5rem !important;
    }

    .the-custom-shoes .custom-shoes-big-image {
        position: relative;
        max-height: 525px;
        overflow: hidden;
    }

    .the-custom-shoes .owl-nav {
        position: absolute;
        top: 42%;
        right: 39%;
        bottom: unset;
    }

    .the-about .about-slider-item .slider-item-logos {
        align-items: center;
        justify-content: space-between;
    }

    .the-about .mobile-about-slider-image .about-slider-image-content:after {
        height: 88%;
    }
}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .the-slider {
        padding: 3.5rem 1rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-title h2 {
        font-size: 4rem;
        line-height: 3.8rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 100%;
        font-size: 1rem;
        line-height: 1.9rem;
        text-align: center;
    }


    .the-stories .stories-slider-item h2 {
        right: unset;
        font-size: 4rem;
        top: unset;
        position: unset;
        text-align: center;
    }

    .the-stories .stories-slider-image:before {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }

    .the-stories .stories-slider-item .stories-slider-item-wrapper {
        position: unset;
        top: unset;
        max-width: 100%;
        padding: 1rem 3rem;
    }

    .the-stories .stories-slider-image .img-slider {
        max-width: 100%;
    }

    .the-stories .owl-nav {
        bottom: 28%;
        right: 40%;
        position: absolute;
    }

    .the-collection .collection-slider-selector a {
        min-width: 180px;
    }

    .modal-product .modal-dialog {
        max-width: 100% !important;
        margin: 1rem;
        margin-right: 0;
    }

    .the-collection .collection-slider-content {
        padding: 1rem 2rem;
    }

    .the-slider .slider-item .slider-item-wrapper {
        min-height: unset;
    }

    .the-about .about-slider-item .slider-item-title h2 {
        font-size: 4rem;
    }

    .the-about .about-slider-item .slider-item-subtitle h3 {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .the-about .about-slider-item .slider-item-subtitle {
        margin-top: 0;
        min-height: 70px;
    }

    .the-slider {
        padding: 0;
    }

    .container-header {
        min-height: 75px;
    }

    .the-about .owl-nav {
        top: 60.5%;
        left: 40%;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content .alignnone {
        display: block !important;
        margin-right: auto;
        margin: 1.5rem auto;
    }

    .the-custom-shoes .owl-nav {
        top: 52%;
    }

    .the-slider .slider-item .slider-item-wrapper img {
        max-width: 150px;
        margin: 0 auto;
    }

    .the-slider .slider-item .slider-item-wrapper .btn-slider {
        margin-top: 0.5rem;
        padding: 0.5rem 3.5rem;
    }

    .the-custom-shoes .btn-custom-shoes {
        display: block;
        margin: 1rem auto;
        max-width: 70vw;
    }

    .the-custom-shoes .section-title span:after {
        height: 20px;
        right: -30%;
    }

    .the-works .works-container .works-container-wrapper .section-title span:after {
        height: 20px;
        right: -30%;
    }

    .modal-gallery {
        padding-right: 5px !important;
    }

    .modal-gallery .modal-dialog {
        margin: 0;
        max-width: 100%;
    }


    .modal-gallery-image-slider img {
        width: 100% !important;
    }

    .the-slider .slider-content .owl-dots {
        right: 40%;
    }

    .btn-catalog-more {
        min-width: unset;
        margin: 1rem;
        display: block;
    }

    .woocustom-main-container .custom-catalog-chooser {
        padding: 0;
        padding-bottom: 2rem;
    }

    .woocustom-main-container .custom-catalog-chooser a {
        display: block !important;
        margin-bottom: 1rem !important;
    }

    .woocustom-main-container {
        padding: 1rem;
    }

}

@media (max-width: 533px) {

    .navbar-button-container .btn-lang {
        margin-left: 0;
        display: inline-block !important;
        max-width: 85px;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content .logo-item {
        flex: 0 0 50%;
        text-align: center;
    }

    .the-about .about-slider-item .about-slider-item-wrapper .slider-item-content img {
        margin: 1rem auto;
    }

    .modal-custom .modal-body {
        padding: 0.5rem 1.5rem;
        padding-top: 0;
    }

    .the-slider .slider-item .slider-item-wrapper .btn-slider {
        margin-top: 0;
    }

    .the-about .owl-nav {
        left: 37%;
        top: 57%;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-title h2 {
        font-size: 2.2rem;
        line-height: 2rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 100%;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .the-custom-shoes .owl-nav {
        position: absolute;
        top: 43%;
        bottom: unset;
        right: 34%;
    }

    .the-works .works-container .btn-appointment {
        padding: 0.9rem 1rem;
        font-size: 0.9rem;
        margin: 3rem auto;
        display: block;
        max-width: 100%;
        width: 100%;
    }

    .the-works .works-container .works-container-wrapper ol li {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .footer-social .social-container {
        justify-content: space-evenly;
    }

    .the-stories .owl-nav {
        bottom: 34%;
        right: 36%;
    }

    .the-collection .collection-title h2:before {
        height: 35px;
        width: 200px;
        top: 25px;
        left: 30%;
        z-index: 0;
    }

    .the-custom-shoes .custom-shoes-big-image {
        max-height: 420px;
    }

    .the-slider .slider-content .owl-dots {
        right: 38%;
    }

    .img-logo {
        max-width: 195px !important;
    }

}

@media (max-width: 424px) {
    .the-slider .slider-item .slider-item-wrapper {
        padding: 0rem 1rem;
        min-height: unset;
    }

    .the-slider .slider-item .slider-item-wrapper img {
        max-width: 150px;
        margin: 0 auto;
    }

    .img-logo {
        max-width: 170px;
        margin-top: -1rem;
    }

    .the-collection .collection-slider-selector {
        text-align: center;
        padding: 1rem;
        padding-bottom: 1rem;
    }

    .the-custom-shoes .owl-nav {
        top: 39%;
    }

    .navbar-mobile-container .btn-header {
        padding: 0.7rem .5rem;
        width: 100%;
        font-size: 1rem;
    }

    .the-about .owl-nav {
        left: 34%;
        top: 54%;
    }

    .the-stories .owl-nav {
        bottom: 38%;
        right: 34%;
    }

    .the-custom-shoes .custom-shoes-big-image {
        max-height: 350px;
    }

    .modal-custom .modal-body h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .modal-custom .modal-body {
        font-size: 0.9rem;
        line-height: 1.7rem;
    }

    .contact-form-container {
        padding: 0;
    }

    .contact-form-item .custom-form-control {
        font-size: 1rem;
        padding: 0.5rem 1.2rem !important;
    }

    .the-slider .slider-content .owl-dots {
        right: 34vw;
        bottom: 5px;
    }

    .woocommerce ul.products[class*=columns-] li.product,
    .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
    }

    .single-product .custom-related-title h2 {
        font-size: 5rem;
    }
}

@media (max-width: 414px) {
    .the-collection .collection-content h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .the-custom-shoes .owl-nav {
        top: 39%;
        bottom: unset;
        right: 34%;
    }

    .the-works .works-container .works-container-wrapper ol li {
        font-size: 0.8rem;
        line-height: 1.6rem;
    }

    .navbar-button {
        margin: 0 0.2rem;
        height: 38px;
        width: 40px;
    }

    .navbar-button span:nth-child(1) {
        top: 8px;
    }

    .navbar-button span:nth-child(2) {
        top: 17px;
    }

    .navbar-button span:nth-child(3) {
        top: 26px;
    }

    .navbar-button-container .btn-lang {
        margin-left: 0;
        margin-right: 0;
    }

    .the-about .owl-nav {
        left: 34%;
        top: 52.5%;
    }

    .dropdown-menu.show {
        transform: translate3d(-29px, 45px, 0px) !important;
    }

}

@media (max-width: 375px) {
    .the-slider .slider-item .slider-item-wrapper .slider-item-title h2 {
        font-size: 2.7rem;
        line-height: 2.7rem;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-content {
        max-width: 100%;
        font-size: 0.8rem;
        line-height: 1.1rem;
    }

    .the-about .owl-nav {
        left: 34%;
        top: 52%;
    }

    .the-stories .owl-nav {
        bottom: 45%;
        right: 33%;
    }

    .the-custom-shoes .custom-shoes-big-image {
        max-height: 325px;
    }

    .the-custom-shoes .owl-nav {
        top: 33%;
    }

    .navbar-button-container .btn-lang .btn:first-child {
        padding: 0.4rem 0.4rem;
    }

}

@media (max-width: 360px) {
    .the-about .owl-nav {
        left: 34%;
        top: 51.5%;
    }

    .img-logo {
        max-width: 175px !important;
    }

    .the-slider .slider-item .slider-item-wrapper .slider-item-title h2 {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    .single-product .custom-related-title h2:before {
        left: 20%;
    }
}

@media (max-width: 320px) {}

@media (max-width: 240px) {}
