// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Montserrat', sans-serif;
@secondfont: 'Kristi', cursive;
@thirdfont: 'Abril Fatface', cursive;
@black: #000000;
@white: #ffffff;
@mainyellow: #CDB150;
@secondyellow: #C5B683;
@gray1: #AAAAAA;
@gray2: #666666;
@neutral: rgba(197, 182, 131, 0.4);
@brown: #362800;
@green: #2C3D36;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

button:focus {
    outline: none !important;
}

.page-container {
    min-height: 85vh;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
    text-decoration: none;
    outline: 0;
}

.custom-slider-nav {
    background: url(../images/arrow.png);
    background-position: center center;
    background-size: cover;
    display: block;
    height: 22px;
    width: 22px;
    margin: 0 1rem;
}

.custom-prev {
    opacity: .5;
}

.custom-next {
    .transform(rotate(180deg));
}

.product-modal {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.78);
}

.modal-hidden {
    display: none;
}

.modal-loader {
    text-align: center;
    padding: 25rem 1rem;
}

.modal-gallery-image-slider img {
    height: auto !important;
    width: 70% !important;
    max-width: 100%;
    margin: 1rem auto;
}

.modal-custom {
    & .modal-dialog {
        max-width: 700px;
    }

    & .modal-header {
        border-bottom: 0;
    }

    & .modal-body {
        color: @gray2;
        padding: 4rem 6rem;
        padding-top: 1rem;
        font-size: 1.1rem;
        line-height: 2rem;

        & h2 {
            font-family: @secondfont;
            color: @brown;
            font-size: 6rem;
            margin-bottom: 1.5rem;
        }
    }
}

.modal-product {
    & .modal-dialog {
        max-width: 70% !important;
    }

    & .modal-header {
        border-bottom: 0;
    }

    & .modal-body {
        color: @gray2;
        padding: 1rem 1rem;
        font-size: 1rem;
        line-height: 2rem;

        & img {
            width: 100%;
            height: 100%;
        }

        & h2 {
            font-family: @secondfont;
            color: @brown;
            font-size: 6rem;
            margin-bottom: 1.5rem;
        }



        & .owl-dot span {
            margin: 5px 15px;
            background: none;
            border: 1px solid @secondyellow;
        }

        & .active span,
        & .owl-dot:hover span {
            background: @secondyellow  !important;
        }

        & .btn-product-modal {
            border: 2px solid black;
            padding: 1rem 3rem;
            display: block;
            margin-top: 3rem;
            max-width: 85%;
            border-radius: 0;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.2rem;
            color: black;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @secondyellow;
                border-color: @secondyellow;
                color: @white;
            }
        }
    }
}



.contact-form-container {
    padding: 1.5rem 0;
}

.contact-form-item {
    padding: 0.3rem 0;

    & .custom-form-control {
        font-size: 1.3rem;
        padding: 1rem 2rem !important;
        height: auto;
        border-radius: 0;
    }

    & .input-group {
        & .custom-form-control {
            border-right: 0;
        }
    }


    & .custom-form-control-secondary {
        padding: 0 2rem;
        border-radius: 0;
        border: 1px solid #ced4da;
        border-left: 0;
    }
}

.contact-form-response {
    text-align: center;
}

.contact-form-submit {
    padding: 0.3rem 0;

    & .btn-submit {
        background: @brown;
        border: 2px solid @brown;
        color: @secondyellow;
        border-radius: 0;
        display: block;
        width: 100%;
        padding: 1.2rem;
        font-size: 1.3rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        .transition(all .3s ease-in-out);

        &:hover {
            background: none;
            color: @brown;
        }

    }
}

.contact-form-loader {
    text-align: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid @mainyellow;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: @mainyellow transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.img-logo {
    max-width: 280px !important;
}

.container-header {
    .transition(all .3s ease-in-out);
    min-height: 115px;
}

.is-sticky .container-header {
    background: @white;
    box-shadow: 0 0 1px #3e3e3e;
}

.header-left {
    & .navbar-nav {
        margin-top: 1rem;

        & .nav-item {
            & .nav-link {
                font-weight: 500;
                padding: 1.2rem;
                font-size: .9rem;
            }
        }
    }
}

.header-right {
    margin-top: 0.8rem;

    & .btn-lang {
        margin-left: 15px;
        display: inline-block !important;
        max-width: 90px;
        padding: 0;

        & .dropdown-menu {
            .transform(translate3d(-85px, 45px, 0px)) !important;
        }

        & .btn:first-child {
            padding: 0.6rem;
            border-radius: 0;
            border: 1px solid #362800;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @brown;
                color: @secondyellow;
            }
        }
    }

    & .btn-header {
        border: 2px solid @brown;
        color: @brown;
        border-radius: 0;
        padding: 0.7rem 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.5px;
        font-size: 0.9rem;
        .transition(all .3s ease-in-out);

        &:hover {
            background: @brown;
            color: @secondyellow;
        }
    }

    & .btn-header-active {
        background: @brown  !important;
        color: @secondyellow  !important;
    }

}

.navbar-button-container {
    .display(flex);
    align-items: center;
    justify-content: flex-end;

    & .btn-lang {
        margin-left: 30px;
        display: inline-block !important;
        max-width: 100px;

        & .btn:first-child {
            padding: 0.4rem 1rem;
            border-radius: 0;
            border: 1px solid #362800;

            .transition(all .3s ease-in-out);

            &:hover {
                background: @brown;
                color: @secondyellow;
            }
        }
    }
}

.navbar-mobile-container ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    z-index: 99;

    & li {
        & a {
            color: @brown;
            font-size: 1.1rem;
            text-align: center;
        }

    }
}

.navbar-button {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    height: 35px;
    width: 40px;
    background: none;
    border: 1px solid @brown;

    & span {
        position: absolute;
        width: 29px;
        height: 1px;
        left: 5px;
        background: @brown;
        .transition(all .2s ease-in-out);

        &:nth-child(1) {
            top: 6px;
        }

        &:nth-child(2) {
            top: 15px;
        }

        &:nth-child(3) {
            top: 24px;
        }

    }
}

.navbar-button-opened {
    & span {
        &:nth-child(1) {
            display: none;
        }

        &:nth-child(2) {
            top: 15px;
            .transform(rotate(45deg));
        }

        &:nth-child(3) {
            top: 15px;
            .transform(rotate(-45deg));
        }
    }
}

.navbar-mobile-container {
    .transition(all .3s ease-in-out);
    background: white;
    height: auto;
    overflow: hidden;
    box-shadow: 0 7px 5px -2px rgb(0 0 0 .3);
    z-index: 99;

    & .btn-header {
        border: 2px solid @brown;
        color: @brown;
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
        border-radius: 0;
        padding: 0.7rem 4.5rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.5px;
        font-size: 1rem;
        .transition(all .3s ease-in-out);

        &:hover {
            background: @brown;
            color: @secondyellow;
        }
    }

    & .btn-header-active {
        background: @brown  !important;
        color: @secondyellow  !important;
    }
}

.navbar-mobile-container-hidden {
    height: 0;
}



/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.footer-copy {
    padding: 1rem;
    text-align: center;
    color: #9f9f9f;

    & a {
        color: @secondyellow;
    }
}

.footer-item {
    padding: 3rem;
    padding-bottom: 1rem;
}

.footer-social {
    text-align: center;

    & h4 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    & .social-container {
        .display(flex);
        align-items: center;
        justify-content: space-evenly;

        & a {
            color: @secondyellow;
            font-size: 1.7rem;
        }
    }
}


/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
/* THE SLIDER */

.the-slider {
    position: relative;
    padding: 0 1rem;
    padding-bottom: 8rem;

    &:before {
        content: '';
        position: absolute;
        top: -130px;
        left: 0;
        width: 17vw;
        height: 110vh;
        background: @green;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 30vw;
        height: 300px;
        background: @green;
    }

    & .slider-content {
        & .owl-dots {
            .transform(rotate(90deg));
            position: absolute;
            top: 50%;
            right: 0px;

            & span {
                margin: 0 15px;
                background: none;
                border: 1px solid white;
            }
        }

        & .active span,
        .owl-dot:hover span {
            background: white;
        }
    }

    & .slider-item {
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        position: relative;

        & .img-back {
            max-width: 100%;
            width: 100%;
        }

        & .slider-item-title {
            font-family: @secondfont;

            & h2 {
                font-size: 6rem;
                text-shadow: 0 0 16px @black;
            }
        }


        & .slider-item-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            .display(flex);
            align-items: flex-start;
            justify-content: center;
            flex-flow: column;
            color: @white;
            padding: 3rem 5rem;

            & img {
                max-width: 296px;
            }

            & .slider-item-content {
                text-shadow: 0 0 8px @black;
                margin-top: 1rem;
                max-width: 35vw;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 2.3rem;
            }

            & .btn-slider {
                margin-top: 1rem;
                background: #C70034;
                border: 1px solid #C70034;
                padding: 0.8rem 4rem;
                font-weight: 600;
                color: @white;

                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}


/* THE ABOUT */
.the-about {
    padding: 0;

    & .owl-nav {
        position: absolute;
        top: 5.5rem;
        left: 38%;
    }

    & .about-slider-item {
        position: relative;

        & .slider-item-logos {
            .display(flex);
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            & img {
                margin-right: 15px;
            }
        }

        & .slider-item-title {
            position: relative;
            font-family: @secondfont;
            color: @brown;

            &:before {
                content: '';
                background: url(../images/vector.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 50px;
                width: 100%;
                position: absolute;
                top: 40px;
                left: 0;
                z-index: 0;
            }

            & h2 {
                font-size: 6rem;
                z-index: 3;
            }
        }

        & .slider-item-subtitle {
            margin-top: 2rem;

            & h3 {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.7rem;
            }
        }


        & .img-slider {
            margin: 0 auto;
            margin-right: 0;
            display: block;
            max-width: 100%;
        }

        & .row-about {
            position: relative;
        }

        & .about-slider-image {


            & .about-slider-image-content {
                position: relative;
                display: block;

                &:after {
                    content: '';
                    position: absolute;
                    border: 1px solid @secondyellow;
                    top: 5%;
                    right: 5%;
                    width: 90%;
                    height: 90%;
                }
            }


        }

        & .about-slider-item-wrapper {
            background: @white;
            min-height: 50vh;
            padding: 3rem;
            padding-bottom: 2rem;
            padding-right: 5rem;
            z-index: 9;



            & .slider-item-content {
                color: @brown;
                margin-top: 0.5rem;
                font-size: 1rem;
                line-height: 1.9rem;
                text-align: justify;

                & strong {
                    font-weight: 500;
                    font-size: 1.5rem;
                }

                & img {
                    max-width: 100%;
                    width: auto !important;
                    height: auto;
                }

                & .alignnone {
                    display: inline-block !important;
                    margin-right: 15px;
                }
            }
        }
    }

    & .mobile-about-slider-image {
        & .about-slider-image-content {
            position: relative;
            display: block;

            &:after {
                content: '';
                position: absolute;
                border: 1px solid @secondyellow;
                top: 5%;
                right: 5%;
                width: 90%;
                height: 80%;
            }
        }
    }
}

/* THE STORIES */
.the-stories {
    padding: 0;

    & .stories-slider-item {
        position: relative;

        & h2 {
            font-family: @secondfont;
            color: @brown;
            position: absolute;
            top: 10%;
            right: 11%;
            font-size: 6rem;
        }

        & .stories-slider-item-wrapper {
            position: absolute;
            top: 30%;
            right: 0;
            max-width: 52vw;
            background: white;
            padding: 5rem;

            & .slider-item-content {
                font-size: 1.3rem;
                line-height: 2.5rem;
                text-align: justify;
            }
        }
    }

    & .stories-slider-image {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 5%;
            left: 2%;
            width: 44%;
            height: 90%;
            border: 1px solid @secondyellow;
        }

        & .img-slider {
            margin: 0 auto;
            margin-left: 0;
            display: block;
            max-width: 50vw;
            margin-bottom: 4rem;
        }
    }

    & .owl-nav {
        position: absolute;
        bottom: 10%;
        right: 100px;
    }
}

.the-collection {
    padding: 3rem 0;

    & .collection-title {
        & h2 {
            position: relative;
            font-family: @secondfont;
            color: @brown;
            font-size: 6rem;

            &:before {
                content: '';
                background: url(../images/vector.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 35px;
                width: 100%;
                position: absolute;
                top: -30px;
                left: 10%;
                z-index: 0;
            }
        }
    }

    & .collection-content {
        text-align: justify;
        font-size: 1rem;
        line-height: 2rem;

        & h2 {
            font-family: @thirdfont;
            color: @secondyellow;
            text-align: right;
            font-size: 3.5rem;
            margin-bottom: 1rem;

            & span {
                &:nth-child(1) {
                    opacity: .4;
                }

                &:nth-child(2) {
                    &:before {
                        content: '/';
                    }
                }
            }
        }
    }

    & .collection-slider-selector {
        text-align: center;
        padding: 3rem;
        padding-bottom: 3rem;

        & a {
            cursor: pointer;
            color: @gray2;
            border: 1px solid @gray1;
            min-width: 230px;
            display: inline-block;
            padding: 0.8rem 0;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1rem;
            margin: 0 .5rem;
            letter-spacing: 1.5px;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @secondyellow;
                border-color: @secondyellow;
                color: @white;
            }
        }

        & .active {
            background: @secondyellow;
            border-color: @secondyellow;
            color: @white;
        }
    }

    & .collection-slider-content {
        padding: 4rem 0;

        & .owl-prev {
            position: absolute;
            top: 45%;
            left: -6%;
        }

        & .owl-next {
            position: absolute;
            top: 45%;
            right: -6%;
        }
    }

    & .collection-item {
        cursor: pointer;

        & .collection-item-wrapper {
            position: relative;


            & .img-collection {
                background: @white;
                max-width: 90%;
                position: absolute;
                top: 15%;
                right: 0;
            }
        }
    }
}

.nav-collection-mobile {
    padding: 0.5rem 2rem;

    & .selected-collection {
        text-transform: capitalize;
    }

    & .dropdown-collection {
        & .dropdown-menu.show {
            display: block;
            width: 100% !important;

            & .dropdown-item.active,
            .dropdown-item:active {
                background-color: transparent !important;
                color: #362800 !important;
            }
        }
    }

    & .btn-collection {
        width: 100%;
        text-align: center;
        background: none transparent !important;
        border: 1px solid black;
        color: black !important;
        border-radius: 0;
        padding: 0.5rem;
    }
}

.collection-catalog-button {
    text-align: center;
}

.btn-catalog-more {
    cursor: pointer;
    background: @secondyellow;
    color: @white;
    border: 1px solid @secondyellow;
    min-width: 230px;
    display: inline-block;
    padding: 0.8rem 0;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    margin: 0 0.5rem;
    letter-spacing: 1.5px;

    &:hover {
        background: @white;
        color: @gray2;
    }
}

/* custom shoes */
.the-custom-shoes {
    padding: 0;

    & .section-title {
        padding: 3rem;
        text-align: center;
        font-family: @secondfont;
        color: @brown;
        font-size: 6rem;

        & span {
            position: relative;

            &:after {
                content: '';
                background: url(../images/vector.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 30px;
                width: 100%;
                position: absolute;
                bottom: 0;
                right: -50%;
                z-index: 0;
            }
        }

    }

    & .owl-nav {
        position: absolute;
        top: 5px;
        right: 185px;
    }

    & .custom-shoes-big-image {
        position: relative;

        & .custom-shoe-float-image {
            position: absolute;
            top: 25%;
            left: 75%;
            width: 25vw;
            height: 50vh;
            z-index: 10;

            & img {
                margin: 0 auto;
                width: auto;
                height: 100%;
                max-width: 100%;
            }
        }
    }

    & .custom-shoes-content {

        & .slider-item-title {
            & h3 {
                font-family: @secondfont;
                color: @brown;
                font-size: 6rem;
            }
        }

        padding: 5rem 10rem !important;
        font-size: 1.2rem;
        line-height: 2.2rem;
        text-align: justify;
        color: gray;
    }

    & .btn-custom-shoes {
        cursor: pointer;
        color: @gray2;
        border: 1px solid @gray1;
        min-width: 230px;
        display: inline-block;
        padding: 0.8rem 0;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1rem;
        margin: 1rem 0;
        letter-spacing: 1.5px;
        .transition(all .3s ease-in-out);

        &:hover {
            background: @secondyellow;
            border-color: @secondyellow;
            color: @white;
        }
    }
}




.the-works {
    padding: 0;

    & .works-container {
        z-index: 8;

        & .works-container-wrapper {
            background: white;
            padding: 4rem;
            z-index: 8;

            & .section-title {
                font-family: @secondfont;
                color: @brown;
                font-size: 6rem;
                margin-bottom: 2rem;

                & span {
                    position: relative;

                    &:after {
                        content: '';
                        background: url(../images/vector.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 30px;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        right: -50%;
                        z-index: 0;
                    }
                }
            }

            & ol {
                list-style: none;
                counter-reset: my-awesome-counter;
                margin: 0;
                padding: 0;
                padding-left: 2rem;
            }

            ol li {
                counter-increment: my-awesome-counter;
                font-size: 1.2rem;
                line-height: 1.9rem;
                margin-bottom: 2rem;
                padding-left: 5rem;
                position: relative;
            }

            ol li::before {
                color: @secondyellow;
                content: counter(my-awesome-counter);
                font-family: @secondfont;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 7rem;
                margin-right: 0;
                line-height: 5rem;
            }
        }

        & .btn-appointment {
            display: block;
            margin: 0 auto;
            border: 2px solid #362800;
            color: #362800;
            border-radius: 0;
            padding: 0.7rem 13.5rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 1.3rem;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @brown;
                color: @secondyellow;
            }
        }

    }

    & .works-image {
        background: @secondyellow;
        min-height: 100vh;
        position: relative;
        z-index: 0;

        & img {
            position: absolute;
            top: 7vh;
            left: -5vw;
            max-width: 100%;
            width: 90%;
        }
    }
}

/* --------------------------------------------------------------
4.- THANKS
-------------------------------------------------------------- */
.thanks-main-container {
    background-color: @white  !important;
    background-size: cover !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    color: @mainyellow;
    padding: 7rem 0;
    padding-bottom: 9rem;
    overflow: hidden;

    & .header-logo {
        padding: 1rem 0;
    }

    & .thanks-main-content {
        padding: 3rem 0;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 300;

        & h2 {
            color: @secondyellow;
            font-size: 2.5rem;
            margin-bottom: 3rem;
            font-weight: 700;
        }

        & .social-thanks-container {
            padding: 3rem 0;
            padding-bottom: 0;
            font-size: 2.5rem;

            & a {
                color: @gray2;
                margin-right: 30px;

                &:hover {
                    color: @secondyellow;
                }
            }
        }
    }
}

.footer-thanks {
    & .footer-item {
        & .footer-copy {
            text-align: left;

            & h5 {
                color: #D6D6D6;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.8rem;
            }
        }
    }
}

.modal-gallery {
    & .modal-header {
        padding: 0;
        border-bottom: 0;

        & .close {
            color: #fff;
            text-shadow: 0 1px 0 #fff;
            opacity: 1;
        }
    }

    & .modal-body {
        padding: 0;
    }

    & .modal-content {
        background: none transparent;
        border: 0;
    }
}


.modal-video {
    & .modal-header {
        padding: 0;
        border-bottom: 0;

        & .close {
            color: #fff;
            text-shadow: 0 1px 0 #fff;
            opacity: 1;
        }
    }

    & .modal-body {
        padding: 0;
    }

    & .modal-content {
        background: none transparent;
        border: 0;
    }
}

/* --------------------------------------------------------------
WOOCOMMERCE OVERRIDES
-------------------------------------------------------------- */

.woocustom-main-container {
    padding: 3rem 0;

    & .collection-title {
        text-align: center;
        margin-bottom: 2rem;

        & h2 {
            position: relative;
            font-family: @secondfont;
            color: @brown;
            font-size: 6rem;
            display: inline-block;

            &:before {
                content: '';
                background: url(../images/vector.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 45px;
                width: 250px;
                position: absolute;
                bottom: 15px;
                left: 30%;
                z-index: 0;
            }
        }
    }

    & .custom-catalog-chooser {
        padding: 0;
        padding-bottom: 2.5rem;
        text-align: center;

        & .btn-catalog {
            cursor: pointer;
            background: @white;
            color: @gray2;
            border: 1px solid @secondyellow;
            min-width: 230px;
            display: inline-block;
            padding: 0.8rem 0;
            border-radius: 0;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1rem;
            margin: 0 0.5rem;
            letter-spacing: 1.5px;

            &:hover {
                background: @secondyellow;
                color: @white;
            }
        }

        & .active {
            background: @secondyellow;
            color: @white;
        }
    }

    & .woocommece-collection-item {
        cursor: pointer;

        & .collection-item-wrapper {
            position: relative;

            & .attachment-woocommerce_thumbnail {
                background: @white;
                max-width: 85%;
                position: absolute;
                top: 9%;
                right: 0;
            }
        }
    }
}

.custom-related-products {
    clear: both;
    padding: 4rem 0;
    padding-top: 0;
}

.single-product {
    position: relative;
    padding: 0;
    padding-bottom: 8rem;

    & .entry-summary {
        font-size: 1.2rem;
        line-height: 2.5rem;

        .custom-single-product-content {
            & ul {
                list-style: none;
                /* Remove default bullets */
            }

            & ul li::before {
                content: "\2022";
                color: @secondyellow;
                font-weight: bold;
                display: inline-block;
                width: 0.8em;
                margin-left: -1em;
                font-size: 2.2rem;
            }
        }


    }

    & .product_title {
        position: relative;
        font-family: @secondfont;
        color: @brown;
        font-size: 6rem;
        display: inline-block;
    }

    &:before {
        content: '';
        position: absolute;
        top: -130px;
        left: 0;
        width: 17vw;
        height: 105vh;
        background: @green;
        z-index: -1;
    }

    & .custom-breadcrumb-container {
        padding: 1rem 0;

        & ul {
            list-style: none;
            padding: 0;
            margin: 0;
            .display(flex);
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            & li {
                & a {
                    color: @gray1;
                    position: relative;
                    padding-right: 2.5rem;

                    &:after {
                        content: '>';
                        position: absolute;
                        top: -7px;
                        right: 15px;
                    }

                    &:hover {
                        color: @green;

                        &:after {
                            color: @gray1;
                        }
                    }
                }

                & span {
                    color: @green;
                }
            }
        }
    }

    & .custom-social-share {
        .display(flex);
        align-items: center;
        justify-content: flex-start;

        & a {
            border: 1px solid @secondyellow;
            background: @secondyellow;
            color: @white;
            width: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            margin-left: 0.5rem;

            &:hover {
                background: none transparent;
                color: @secondyellow;
            }
        }
    }

    & .custom-related-title {
        text-align: left;
        margin-bottom: 2rem;

        & h2 {
            position: relative;
            font-family: @secondfont;
            color: @brown;
            font-size: 6rem;
            display: inline-block;

            &:before {
                content: '';
                background: url(../images/vector.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 45px;
                width: 250px;
                position: absolute;
                bottom: 15px;
                left: 30%;
                z-index: 0;
            }
        }
    }
}

.woocommerce div.product div.images .flex-control-thumbs li img {
    opacity: 1 !important;
}

.section-title {
    text-align: left;
    margin-bottom: 2rem;

    & h1 {
        position: relative;
        font-family: @secondfont;
        color: @brown;
        font-size: 6rem;
        display: inline-block;

        &:before {
            content: '';
            background: url(../images/vector.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 45px;
            width: 250px;
            position: absolute;
            bottom: 15px;
            left: 30%;
            z-index: 0;
        }
    }
}


.single-product {
    .container-header {
        background: @white;
    }
}

.flex-viewport {
    border: 1px solid #ebebeb;
    margin-bottom: 5px;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    & img {
        border: 1px solid #ebebeb;
        margin-right: 5px;
    }

    &:last-child {
        & img {
            margin-right: 0;
        }
    }
}

.flex-active {
    border-color: @brown  !important;
}
